* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(215, 216, 217);

}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: rgb(181, 177, 147);
    font-family: cursive;
    margin: auto;
    width: 500px;
}
.recipe-name {
    background-color:wheat;
    font-family: fantasy;
    text-align:center;
    margin: 10px;
    padding: 15px 0px 0px;
    height: min-content;
    width: 450px;
}

img {
    margin: auto;
    display: block;
}

.return {
    margin: auto;
    padding: 2px;
    display: block;
    width: min-content;
    border: dashed gray 2px;

}

.homepage-photo {
    margin: auto;
    display: block;
    width: 900px;

    
}

.main-list {
    margin: 40px auto;
    padding-left: 0px;
    text-align: center;
    list-style: none;
    width: 780px;
    height: 50px;
    font-size: 30px;
    display: block ruby;
    text-indent: 10px;

}
