* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(215, 216, 217);
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: rgb(181, 177, 147);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 450px;
    border: solid 1px;
    padding-bottom: 10px;
}
.recipe-name {
    background-color:wheat;
    text-align:center;
    margin: 10px;
    height: min-content;
    width: 450px;
    padding-bottom: 10px;
}
.return {
    margin: auto;
    padding: 2px;
    width: min-content;
    border: dashed gray 1px;

}

.homepage-photo {
    margin: auto;
    width: 900px; 
    border: solid 1px;
}

.main-list {
    margin: 40px auto;
    padding-left: 0px;
    text-align: center;
    list-style: none;
    width: 780px;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    text-indent: 10px;
}

.recipe-header {

    width: min-content;
    height: min-content;
}

.discription-text {
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

.ingred-and-inst {
    display: flex;
    flex-direction: column;

}